/* used stuff from prev assignment */

body {
    background-image: url("image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
}

.form-container {
    width: 600px;
    margin: 50px auto;
    background-color: rgba(255, 255, 255, 0.8);
    border: 4px solid #317a38;
    border-radius: 8px;
    padding: 20px 40px;
}
  
h1 {
    text-align: center;
    color: #7a1f1f;
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    color: #7a1f1f;
    margin-top: 12px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #a09d9d;
    border-radius: 4px;
    font-size: 14px;
}

.req {
    color: #882525;
    font-weight: bold;
    font-size: 12px;
    float: right;
    margin-top: -22px;
}
.checkbox-label input[type="checkbox"] {
    width: auto;  /*/ reset width so checkbox isnt stretched*/
    margin-right: 10px; 


    color: #812121;
    font-weight: bold;
}

.password-wrapper {
    position: relative;
}

.toggle-icon {
    position: absolute;
    right: 10px;
    top: 8px;
    cursor: pointer;
}

.buttons {
    margin-top: 20px;
    text-align: right;
}

button {
    background-color: #333;
    color: rgb(231, 209, 209);
    padding: 8px 16px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #585353;
}
